nav.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
}

ul.nav__main {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

ul.nav__main li {
  padding: 1rem;
}
